<!--Projects section v.3-->
<section class="white-text" style="margin-top:-48px; border-radius: 5px;">

    <!--Section heading-->
    <h2 class="text-center h1 my-5 white-text">
        <strong>Welcome to Mongo Ratings</strong>
    </h2>
    <!--Section description-->
    <p class="px-xl-5 text-center white-text mb-5">
        Where you can rate your favorite TV show episodes by humor, story and best characters! Save your ratings to view later! Enhance your TV experience by watching only the best
        episodes of your favorite shows by reviewing your thoughts here, with Mongo Ratings. 
    </p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">

            <!--Image-->
            <img src="https://images8.alphacoders.com/420/420121.jpg" alt="The office" class="img-fluid rounded z-depth-1">

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">

            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-book fa-2x cyan-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Education</h5>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                        voluptate velit.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-code fa-2x red-text"></i>
                </div>
                <div class="col-10 ">
                    <h5 class="font-weight-bold">Technology</h5>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                        voluptate velit.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row">
                <div class="col-1 mr-1">
                    <i class="fa fa-money fa-2x deep-purple-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Finance</h5>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                        voluptate velit.
                    </p>
                </div>
            </div>
            <!--/Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row pt-5">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-7 mb-3">

            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-bar-chart fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Marketing</h5>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                        voluptate velit.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-music fa-2x pink-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Entertainment</h5>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                        voluptate velit.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-smile-o fa-2x blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Communication</h5>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                        voluptate velit.
                    </p>
                </div>
            </div>
            <!--/Grid row-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Image-->
            <img src="https://images6.alphacoders.com/420/420302.png" alt="Sample project image" class="img-fluid rounded z-depth-1">

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.3-->
