<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mongo Ratings</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/mdb.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="@Url.Content("~/js/site.js")"></script>


    @RenderSection("Scripts", required: false)


    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light warning-color lighten-5">
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li><div class="nav-divider"></div>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Create" class="nav-link">Create New Rating</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Ratings" class="nav-link">Ratings</a>
                </li>

                 @*Dropdown 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>*@

            </ul>
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
    <div class="body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
